* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: blue;
}

header nav{
    display: flex;
    justify-content: flex-end;
    background-color: blueviolet;
    width: 100%;
    padding: 1em 0.5em;
}

.headerTitle{
    background-color: blue;
    width: 100%;
    padding: 1em 0.5em;
}

header nav ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

header nav ul li a{
    color: black;
    padding: 2em;
    text-decoration: none;
}

main {
    width: 100vw;
    background-color: deepskyblue;
}

footer {
    width: 100vw;
    background-color: blue;
}

/*From there CSS to Desktop*/
@media only screen and (min-width: 768px) {

}